<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ts="http://typo3.org/ns/TYPO3/TypoScript/ViewHelpers">

<f:render section="panel" arguments="{panelItems: panelItems, panelHeader: panelHeader, panelFooter: panelFooter, headerIncluded: headerIncluded, footerIncluded: footerIncluded }" />

<f:section name="panel">
    <div class="panel panel-default">
        <f:if condition="{headerIncluded}">
            <f:then>
                <div class="panel-heading">
                    <ts:render path="panelHeader" />
                </div>
            </f:then>
        </f:if>

        <div class="panel-body">
            <f:if condition="{panelItems}">
                <ts:render path="panelItems" />
            </f:if>
        </div>

        <f:if condition="{footerIncluded}">
            <div class="panel-footer"><ts:render path="panelFooter" /></div>
        </f:if>
    </div>
</f:section>

