{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}

<f:section name="navTabNavigation">
    <ul{attributes -> f:format.raw()}>
        <f:render section="itemsList" arguments="{items: items}" />
    </ul>
</f:section>

<f:section name="itemsList">

    <f:for each="{items}" as="item" iteration="tabIterator">
        <li{ts:render(path:'{item.state}.attributes') -> f:format.raw()} {f:if(condition:tabIterator.isFirst, then: 'class="active"')}>
            <a href="#{item.node.identifier}" aria-controls="{item.node.identifier}" role="tab" data-toggle="tab">{item.node.properties.tablabel}</a>
        </li>
    </f:for>
</f:section>