<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/TYPO3/Neos/ViewHelpers"
      xmlns:media="http://typo3.org/ns/TYPO3/Media/ViewHelpers">

<!-- Comment for the <media> Element, not included in the section to prevent repeating in the output
     Accessible properties can be looked up in Packages/Application/Neos.Media/Classes/TYPO3/Media/Domain/Model/ImageVariant.php
     The fluid object can access all properties that have a getter or are public
     media.foo will first try to access $media~>foo, then $media~>getFoo()
-->

<f:section name="media">
    <{tagName} class="media">
        <div class="{mediaAlignment}">
            <a href="{link}">
                <f:if condition="{image}">
                    <f:then>
                        <media:image class="media-object" asset="{image}" title="{title}" alt="{alternativeText}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}"  />
                    </f:then>
                    <f:else>
                        <f:security.ifAccess privilegeTarget="Neos.Neos:Backend.GeneralAccess">
                            <f:if condition="{node.context.workspace.name} != 'live'">
                                <img src="{f:uri.resource(package: 'Neos.Neos', path: 'Images/dummy-image.png')}" width="{maximumWidth}" height="{maximumHeight}"  title="Dummy image" alt="Dummy image" class="neos-handle" />
                            </f:if>
                        </f:security.ifAccess>
                    </f:else>
                </f:if>
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><neos:contentElement.editable property="mediaHeader" /></h4>
            <neos:contentElement.editable property="mediaText" />
        </div>
    </{tagName}>
</f:section>

