<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ts="http://typo3.org/ns/Neos/Fusion/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/Neos/Neos/ViewHelpers">

<f:section name="menu">
    <f:render section="itemList" arguments="{items: items, site: site, attributes: attributes, navAttributes: navAttributes}" />
</f:section>

<f:section name="itemList">
    <nav{navAttributes -> f:format.raw()} role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- The ViewHelper can be found at: Packages/Application/Neos.Neos/Classes/TYPO3/Neos/ViewHelpers/Link
                 general approach: look in Classes/Name/Of/The/Package/ViewHelpers
            -->
            <neos:link.node node="{site}" class="navbar-brand">{site.label}</neos:link.node>
        </div>

        <div class="navbar-collapse collapse">
            <ul{attributes -> f:format.raw()}>
            <f:render section="itemsList" arguments="{items: items}" />
            </ul>
        </div>
    </div>
    </nav>
</f:section>

<!-- Section for rendering the menu items -->
<f:section name="itemsList">
    <f:for each="{items}" as="item">
        <li{ts:render(path:'{item.state}.attributes') -> f:format.raw()}>
        <neos:link.node node="{item.node}">{item.label}</neos:link.node>
        <f:if condition="{item.subItems}">
            <ul>
                <f:render section="itemsList" arguments="{items: item.subItems}" />
            </ul>
        </f:if>
        </li>
    </f:for>
</f:section>