<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ts="http://typo3.org/ns/TYPO3/TypoScript/ViewHelpers">

<f:section name="panelGroup">
    <f:if condition="{panelGroupItems}">
        <f:then>
            <ts:render path="panelGroupItems" />
        </f:then>

    </f:if>
    <f:else>
        <div>Node type restrictions are not yet provided by TYPO3 NEOS 1.1.2 - Please only add Panel Nodes inside the ContentCollection above.
            <br />This information will be hidden after you add one or more items.</div>
    </f:else>
</f:section>